<head>
	<script type="text/javascript">
    		var host = "deepikachhillar.com";
    		if ((host == window.location.host) && (window.location.protocol != "https:"))
        	window.location.protocol = "https";
	</script>
	<meta charset="utf-8">
	<meta name="viewport" width="device-width, initial-scale=1.0">
	<meta name="description" content="{{ page.description }}">
	<meta name="author" content="Deepika Chhillar">

	<title>Deepika Chhillar, PhD student</title>		
	
	<!-- styles -->
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/jumbotron-narrow.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<link rel="canonical" href=" { { site.url } }{ { page.url } }" />
	
	{% include analytics.html %}
</head>
